/* GLOBAL */

body {
    font-family : "Myriad Pro", sans-serif;
}

body {
    font-size : 16px;
}

a,
a:hover {
    color : inherit;
}

a:hover {
    text-decoration : none;
}

#content {
    margin-top : 53px;
    /* padding: 0 20px; */
    width      : 100%;
}

div.container a.brand {
    background  : url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left : 0;
    padding     : 8px 20px 12px 40px;
}

.horizontalSeparator {
    border-color  : blue;
    border-width  : 2px;
    margin-top    : 10px;
    margin-bottom : 0;
    width         : 90%;
}

.separator {
    height           : 2px;
    background-color : blue;
    margin           : 1em;
}

/* NAV */

nav {
    padding       : 10px 15px;
    font-weight   : 500;
    height        : 53px;
    border-bottom : 3px solid blue;
    position      : fixed;
    top           : 0;
    left          : 0;
    width         : 100%;
    background    : white;
    z-index       : 1;
}

nav > .row {
}

nav ul {
    margin-bottom : 0;
    line-height   : 30px;
    height        : 30px;
    text-align    : right;
}

nav li {
    display     : inline-block;
    margin-left : 50px;
}

nav li:first-child {
}

nav li span {
    display : none;
}

nav li a {
    display : block;
}

#logo img {
    height : 40px;
}

nav li i {
    font-size      : 1.8em;
    vertical-align : middle;
}

/* SUBNAV */
.subNav {
    background : blue;
    color      : white;
    padding    : 5px 15px 7px 15px;
    position   : fixed;
    top        : 53px;
    left       : 0;
    width      : 100%;
    z-index    : 1;
}

.offsetContainer {
    margin-top : 89px;
    position   : relative;
    padding    : 15px;
}

/* FOOTER */

footer {
    background     : #3D3E42;
    text-align     : center;
    color          : white;
    padding-bottom : 50px;
}

footer > img {
    display : block;
    margin  : auto;
}

footer > img:first-child {
    height : 50px;
}

footer > img:nth-child(2) {
    height : 30px;
}

footer > p {
    margin-top : .7em;
    font-size  : 1.5em;
}

/* RESPONSIVE */

/* XS ONLY */
@media (max-width : 767px) {

    #logo {
        display  : block;
        position : absolute;
        width    : 100%;
        bottom   : 0;
    }

    #logo img {
        margin : auto;
    }

    nav li {
        margin : 0 7%;
    }

    nav li:first-child,
    nav li:nth-child(2) {
        float : left;
    }
}

/* > XS */
@media (min-width : 768px) {

}

/* SM ONLY */
@media (min-width : 768px) and (max-width : 991px) {

}

/* > MD */
@media (min-width : 992px) {
    nav li span {
        display     : inline-block;
        margin-left : 10px;
    }

    #logo img {
        height : 30px;
    }
}