/* GLOBAL */

body {
    font-family : "Myriad Pro", sans-serif;
}

body {
    font-size : 16px;
}

a,
a:hover {
    color : inherit;
}

a:hover {
    text-decoration : none;
}

#content {
    margin-top : 53px;
    padding    : 15px;
    width      : 100%;
    min-height : calc(100vh - 153px);
}

div.container a.brand {
    background  : url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left : 0;
    padding     : 8px 20px 12px 40px;
}

.horizontalSeparator {
    border-color  : blue;
    border-width  : 2px;
    margin-top    : 10px;
    margin-bottom : 0;
    width         : 90%;
}

.separator {
    height           : 2px;
    background-color : blue;
    margin           : 1em;
}

/* PAGE TITLE */
#content > h1 {
    background     : blue;
    color          : white;
    width          : calc(100% + 30px);
    z-index        : 1;
    padding-top    : 5px;
    padding-bottom : 9px;
    margin         : -15px;
    margin-bottom  : 15px;
    font-size      : 1.2em;
    text-align     : center;
    font-weight    : 600;
}

/* NAV */

nav {
    padding       : 10px 15px;
    font-weight   : 500;
    height        : 53px;
    border-bottom : 3px solid blue;
    position      : fixed;
    top           : 0;
    left          : 0;
    width         : 100%;
    background    : white;
    z-index       : 1;
}

nav > .row {
}

nav ul {
    margin-bottom : 0;
    line-height   : 30px;
    height        : 30px;
    text-align    : right;
}

nav li {
    display     : inline-block;
    margin-left : 50px;
}

nav li:first-child {
}

nav li span {
    display : none;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

nav li a {
    display : block;
}

#logo img {
    height : 40px;
}

nav li i {
    font-size      : 1.8em;
    vertical-align : middle;
}

/* SUBNAV */
.subNav {
    background : blue;
    color      : white;
    padding    : 5px 15px 7px 15px;
    position   : fixed;
    top        : 53px;
    left       : 0;
    width      : 100%;
    z-index    : 1;
}

.offsetContainer {
    margin-top : 37px;
    position   : relative;
    width      : 100%;
}

/* FORM */
/*input[type="text"],
input[type="number"] {
    background    : inherit;
    border        : none;
    border-bottom: 2px solid;
    color         : inherit;
    width         : 100%;
    padding       : 0 5px;
    margin-bottom : 5px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline : none;
}*/

/* FOOTER */

footer {
    background : #3D3E42;
    text-align : center;
    color      : white;
    height     : 100px;
}

footer > img {
    display : block;
    margin  : auto;
}

footer > img:first-child {
    height : 2em;
}

footer > img:nth-child(2) {
    height : 1.2em;
}

footer > p {
    margin-top : .7em;
    font-size  : 1em;
}

/* FORM */
input[type="submit"] {
    margin  : auto;
    display : block;
}

form > p:last-child {
    text-align : right;
}

/* FILE PICKER */
.file-input span.hidden-xs {
    display : inherit !important;
}

/* PHONE INPUT */
.iti-flag {
    background-image : url("../vendor/intl-tel-input-7.1.0/build/img/flags.png");
}

.intl-tel-input {
    width : 100%;
}

/* TAGS PICKER */
.giftsWrapper fieldset {
    margin : 1em 0 2em 0;
}

/* RESPONSIVE */

/* XS ONLY */
@media (max-width : 767px) {

    #logo {
        display  : block;
        position : absolute;
        width    : 100%;
        bottom   : 0;
    }

    #logo img {
        margin : auto;
    }

    nav li {
        margin : 0 7%;
    }

    nav li:first-child,
    nav li:nth-child(2) {
        float : left;
    }

    /* FILE PICKER */
    .file-input span.hidden-xs {
        display : none !important;
    }
}

/* > XS */
@media (min-width : 768px) {

}

/* SM ONLY */
@media (min-width : 768px) and (max-width : 991px) {

}

/* > MD */
@media (min-width : 992px) {
    nav li span {
        display     : inline-block;
        margin-left : 10px;
    }

    #logo img {
        height : 30px;
    }
}