@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9k6s72');
  src:  url('fonts/icomoon.eot?9k6s72#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9k6s72') format('truetype'),
    url('fonts/icomoon.woff?9k6s72') format('woff'),
    url('fonts/icomoon.svg?9k6s72#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow_filled_left:before {
  content: "\e935";
}
.icon_arrow_filled_right:before {
  content: "\e936";
}
.icon_pause:before {
  content: "\e934";
}
.icon_time_1 .path1:before {
  content: "\e92a";
  color: rgb(0, 0, 0);
}
.icon_time_1 .path2:before {
  content: "\e92b";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_time_2 .path1:before {
  content: "\e92c";
  color: rgb(0, 0, 0);
}
.icon_time_2 .path2:before {
  content: "\e92d";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_time_2 .path3:before {
  content: "\e92e";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_time_3 .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icon_time_3 .path2:before {
  content: "\e930";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_time_3 .path3:before {
  content: "\e931";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_time_4 .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.icon_time_4 .path2:before {
  content: "\e933";
  margin-left: -0.92578125em;
  color: rgb(50, 0, 255);
}
.icon_arrow_left:before {
  content: "\e900";
}
.icon_arrow_right:before {
  content: "\e901";
}
.icon_bitcoin:before {
  content: "\e902";
}
.icon_credit_card:before {
  content: "\e903";
}
.icon_dots:before {
  content: "\e904";
}
.icon_facebook:before {
  content: "\e905";
}
.icon_gift:before {
  content: "\e906";
}
.icon_google:before {
  content: "\e907";
}
.icon_idea_1:before {
  content: "\e908";
}
.icon_idea_2 .path1:before {
  content: "\e909";
  color: rgb(200, 200, 200);
}
.icon_idea_2 .path2:before {
  content: "\e90a";
  margin-left: -0.8525390625em;
  color: rgb(50, 0, 255);
}
.icon_idea_3 .path1:before {
  content: "\e90b";
  color: rgb(200, 200, 200);
}
.icon_idea_3 .path2:before {
  content: "\e90c";
  margin-left: -0.8525390625em;
  color: rgb(50, 0, 255);
}
.icon_idea_4:before {
  content: "\e90d";
}
.icon_link:before {
  content: "\e90e";
}
.icon_logo_sm .path1:before {
  content: "\e90f";
  color: rgb(50, 0, 255);
}
.icon_logo_sm .path2:before {
  content: "\e910";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_sm .path3:before {
  content: "\e911";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_sm .path4:before {
  content: "\e912";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_sm .path5:before {
  content: "\e913";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_sm .path6:before {
  content: "\e914";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_sm .path7:before {
  content: "\e915";
  margin-left: -0.6337890625em;
  color: rgb(0, 0, 0);
}
.icon_logo_xs .path1:before {
  content: "\e916";
  color: rgb(50, 0, 255);
}
.icon_logo_xs .path2:before {
  content: "\e917";
  margin-left: -1.1875em;
  color: rgb(0, 0, 0);
}
.icon_logo_xs .path3:before {
  content: "\e918";
  margin-left: -1.1875em;
  color: rgb(0, 0, 0);
}
.icon_logo_xs .path4:before {
  content: "\e919";
  margin-left: -1.1875em;
  color: rgb(0, 0, 0);
}
.icon_logo_xs .path5:before {
  content: "\e91a";
  margin-left: -1.1875em;
  color: rgb(0, 0, 0);
}
.icon_logo_xs .path6:before {
  content: "\e91b";
  margin-left: -1.1875em;
  color: rgb(0, 0, 0);
}
.icon_payment:before {
  content: "\e91c";
}
.icon_paypal:before {
  content: "\e91d";
}
.icon_people:before {
  content: "\e91e";
}
.icon_pictures:before {
  content: "\e91f";
}
.icon_pie:before {
  content: "\e920";
}
.icon_play:before {
  content: "\e921";
}
.icon_plus:before {
  content: "\e922";
}
.icon_power:before {
  content: "\e923";
}
.icon_profile:before {
  content: "\e924";
}
.icon_question:before {
  content: "\e925";
}
.icon_search:before {
  content: "\e926";
}
.icon_tweeter:before {
  content: "\e927";
}
.icon_upload:before {
  content: "\e928";
}
.icon-28:before {
  content: "\e929";
}

