/* NAV */
.subNav ul {
    text-align    : right;
    margin-bottom : 0;
}

.subNav li {
    display     : inline-block;
    margin-left : 50px;
    padding     : 0;
    color       : lightgray;
}

.subNav h1 {
    font-size   : 1.2em;
    margin      : 0;
    padding     : 0;
    font-weight : 600;
}

.subNav img {
    width : 30px;
}

.subNav img, .subNav span {
    display        : inline-block;
    vertical-align : middle;
}

.subNav span {
    margin-left : 10px;
}

.subNav a:focus {
    /* color           : inherit; */
    outline         : none;
    text-decoration : none;
}

.subNav i {
    font-size      : 1.5em;
    vertical-align : middle;
}

.subNav .icon_dots {
    font-size : .65em;
}

.subNav .active {
    color : white;
}

/* CONTENT */
#mainPicture img {
    width : 100%;
}

h2 {
    font-size     : inherit;
    font-style    : italic;
    text-align    : center;
    font-weight   : 600;
    margin-bottom : 2em;
}

.iconWrapper {
    display        : inline-block;
    vertical-align : middle;
}

.iconWrapper > i {
    font-size      : 2em;
    vertical-align : middle;
    margin-right   : .25em;
    margin-top     : -.05em;
}

#stats > .row > div {
    margin-bottom : 1em;
    text-align    : center;
}

#stats span {
    font-size : 1.2em;
}

/* GIFTS */
.minAmount {
    color: blue;
}

.gift > h3 {
    margin-top: 0;
    font-size: inherit;
    font-weight: 600;
}

.gift > .description {
    margin-bottom: 2em;
}

.gift:last-child > .description {
    margin-bottom: 0;
}

.minAmount > i {
    font-size: 1.2em;
    margin-top: -4px;
}

/* RESPONSIVE */

/* <= SM */
@media (max-width : 991px) {
    .subNav span {
        display : none;
    }

    .subNav li {
        margin-left : 43px;
    }
}

/* XS */
@media (max-width : 767px) {
    .subNav ul {
        text-align : center;
    }

    .subNav li {
        margin : 0 calc(12.5% - 17px);
    }
}

/* >= MD */
@media (min-width : 992px) {
    .subNav ul > li:nth-child(4) {
        display : none;
    }

    #stats, #gifts {
        position : absolute;
        right: 0;
        top      : 1em;
    }

    #stats {
        height : 8em;
    }

    #gifts {
        margin-top: 9em;
        width: calc(33.33333333333333% - 15px);
        border-left: 3px solid blue;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    #stats > .row > div {
        text-align : left;
    }

    .iconWrapper {
        width      : 3em;
        text-align : center;
    }
}